/* Global config */
@import "config/variables"; // Your custom variables
@import "config/colors"; // Your custom color scheme
@import "config/settings"; // Default settings file. Uncomment each setting you need to change

@import "animations";

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Site structure */
@import "site/structure"; // Your site structure

/* theme specific styles */
h1 {
	font-size: rem-calc(24px);
	font-weight:700;
}
h2 {
	font-size:rem-calc(20px);
	font-weight:700;
}
h3 {
	font-size:rem-calc(16px);
	font-weight:700;
}

a {
	@include transition;
}

.banner-section {
	span.header {
		display:block;
		font-size:2.75rem;
		margin:rem-calc(40px) 0 0 0;
		a {
			color:#6e7a97;
			font-weight:700;
		}
		a:hover {
			color:lighten(#6e7a97, 10%);
		}
	}
	b.divider {
		border-bottom:1px solid #e8e8e8;
		display:block;
		height:1px;
		margin-bottom:rem-calc(20px);
		margin-left:-15px;
		margin-right:-15px;
	}
}

.tab-bar.show-for-small-only {
	background-color: $topbar-bg-color;
}

.left-small {
	border-right:1px solid darken($topbar-bg-color, 10%);
}

.content-section {
	min-height:600px;
	a {
		color:#6e7a97;
	}
	footer {
		margin-bottom:rem-calc(20px);
		overflow:auto;
		display:block;
		clear:both;
	}
	figure {
		margin:0;
	}
	
}

/* Category listing */
.category-listing {
	margin-left:0;
	li {
		list-style-type:none;
		margin-bottom: rem-calc(20px);  
	}
	.category-name {
		a {
			font-weight:700;
		}
	}
}



/* Related content */
.related-content:before {
	margin-top:rem-calc(20px);
	display:block;
	content: " ";
}
.related-content {
	border-top:1px dotted #e8e8e8;
	display:block;
	clear:both;

	ul {
		margin-left:0;
		margin-bottom:rem-calc(20px);
		li {
			display:inline;
			float:left;
			list-style-type:none;
			margin-right:rem-calc(20px);
			a {
				padding:rem-calc(10px);
				margin:rem-calc(10px) 0;
				display:block;
				background-color:#e8e8e8;
				color:#3d6eb0;
				border:1px solid #dadada;
				font-size:rem-calc(14px);
			}
		}
	}
	ul:after {
		margin-bottom:rem-calc(20px);
	}
}

.related-content:after {
	margin-bottom:rem-calc(20px);
	display:block;
	content:" ";
}

#disqus_thread {
	margin-top:rem-calc(40px);
}

/* Blog styles */
time, .byline {
	color:#929292;
	font-size:rem-calc(14px);
}

time {
	border-top:1px #e8e8e8 dotted;
	display:block;
	padding-top:rem-calc(12px);
}
.byline {
	border-bottom:1px #e8e8e8 dotted;
	padding-bottom:rem-calc(12px);
}

article.widget {
	h6 {
		font-weight:700;
	}
	ul {
		margin-left:0;
	}
	li {
		list-style-type:none;
		font-size:rem-calc(14px);
	}
	/* category listing in sidebar */
	ul.children {
		margin-left:rem-calc(10px);
	}
}

.footer-section {
	border-top:1px solid #e8e8e8;
	background-color:#fff;
}

.footer-links {
	margin-top:20px;
	margin-left:0;
	li {
		list-style-type:none;
		a {
			font-size:rem-calc(14px);
		}
	}
	
}

